
	{% if admin %}
	<!-- [ navigation menu administrador ] inicio -->
		<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
					    <a href="/dashboard" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
					    <a href="/dashboard/clientes" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Clientes</span></a>
					</li>
					<li class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
					    <a href="/dashboard/grupos" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus"></i></span><span class="pcoded-mtext">Grupos</span></a>
					</li>
					<li class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
					    <a href="/dashboard/prestamos" class="nav-link "><span class="pcoded-micon"><i class="feather icon-arrow-right"></i></span><span class="pcoded-mtext">Prestamos</span></a>
					</li>
					<li class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
					    <a href="/dashboard/calendario-usuarios" class="nav-link "><span class="pcoded-micon"><i class="feather icon-calendar"></i></span><span class="pcoded-mtext">Calendario Usuarios</span></a>
					</li>
				</ul>
				
			</div>
		</div>
		</nav>
	<!-- [ navigation menu administrador ] fin -->
	{% else  %} 
	<!-- [ navigation menu users ] inicio -->
		<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item">
					    <a href='/dashboard' class="nav-link {% if 'index' in segment %} active {% endif %}">
								<span class="pcoded-micon"><i class="feather icon-calendar"></i></span><span class="pcoded-mtext">Calendario {{calendar}}</span>
							</a>
					</li>
					<li class="nav-item">
					    <a href="/dashboard/pago" class="nav-link {% if 'index' in segment %} active {% endif %}">
								<span class="pcoded-micon"><i class="feather icon-credit-card"></i></span><span class="pcoded-mtext">Pago</span>
							</a>
					</li>
				</ul>	
			</div>
		</div>
		</nav>
	<!-- [ navigation menu users ] fin -->
	{% endif %} 
