<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Reportes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon2.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style-page.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v2.3.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>Creditos Grupales</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Inicio</a></li>
          <li><a href="/solicitar">Solicitar Credito</a></li>
          <li class="get-started"><a href="/auth/login/">Iniciar Sesion</a></li>
        </ul>
      </nav>
    </div>
</header>

<section id="hero" class="more-services" style="height: auto !important; margin-top: auto !important; ">
    <div class="container">
        <div class="row" style="margin-top: -3em;">
            <div class="col-xs-12 col-sm-12 col-md-d-7 col-lg-7">
                <div class="card">
                    <div class="">
                        <div class="section-title" data-aos="fade-up">
                            <h2>Solicitud</h2>
                            <p>Llena el siguiente formularío, uno de nuestros ejecutivos se pondrán en contacto contigo</p>
                          </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form  role="form" method="post" action="">
                                    {% csrf_token %} 
                                    <div class="form-group">
                                        {{ form.nombre }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.correo }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.numero }}
                        
                                    </div>
                                    <div class="form-group">
                                        {{ form.contacto }}   
                                    </div>
                                    <div class="row" style="padding: 1em 0 1em 0">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <div class="form-check">
                                            {{ form.grupo }} 
                                            <label class="form-check-label">¡Quiero formar un grupo!</label>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div  class="form-group">
                                          <div class="form-check">
                                            {{ form.credito }}  
                                            <label class="form-check-label">¡Quiero más información sobre crédito individual!
                                            </label>
                                          </div>
                                      </div>
                                      </div>
                                  </div>
                                <div class="form-group">
                                  {{ form.comentarios }}  
                              </div>
                                    <button type="submit" class="btn  btn-primary">Enviar</button>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-d-5 col-lg-5">
                <img src="/static/assets/img/denuncias.png" class="img-fluid animated no-resize d-none d-sm-none d-md-block" style="height: 60%; width: 100%; margin-top: 12em;" alt="">
            </div>  
        </div>
    </div>
</section>      



<footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Derechos de autor para <strong> Roberto Espiritu </strong>. Todos los derechos reservados para SpiritDevelop
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="/" class="scrollto">Inicio</a>
            <a href="/solicitar" class="scrollto">Solicitar Credito</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main-page.js"></script>

</body>

</html>