{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %} 

	<!-- [ auth-signin ] start -->
	<div class="auth-wrapper" >
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<h4 class="mb-3 f-w-400">
								<a href="https://appseed.us/admin-dashboards/django-dashboard-gradientable">Proyecto</a> - Iniciar Sesion
							</h4>
							<span class="mb-0 text-muted">
								{% if msg %}
									{{ msg  }}
								{% endif %} 
							</span>
							<!-- dummy spacer -->
							<p> <br /> </p>						
							<form role="form" method="post" action="">

								{% csrf_token %} 
								
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-user"></i></span>
									</div>
									{{ form.username }}
								</div>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-lock"></i></span>
									</div>
									{{ form.password }}
								</div>
								<div class="form-group text-left mt-2">
									<div class="checkbox checkbox-primary d-inline">
										<input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
										<label for="checkbox-fill-a1" class="cr">Guardar contraseña</label>
									</div>
								</div>
								<button type="submit" name="login" class="btn btn-block btn-primary mb-4">Ingresar</button>
							
							</form>

							<!--<p class="mb-0 text-muted">Don’t have an account? <a href={% url 'register' %} class="f-w-400">Signup</a></p> -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/waves.min.js"></script>

{% endblock javascripts %} 
