{% extends "layouts/base.html" %}

{% block title %} Dashboard - Clientes {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}	
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="alert alert-success" style="display: none;"  id="notificacion" role="alert">
                ¡Se realizo correctamente la accion!
            </div>
            <div class="containter">
                {% if data %}
                <div class="row" style="height: 50%;">
                    <div class="col-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 col-sm-10">
                                    <h3 style="padding: 1em 1em 1em 1em;"> Asigna usuarios al grupo {{ grupo }} </h3>
                                </div>
                                <div class="col-12 col-sm-2" style="text-align: center;">
                                    <button id="registro" type="submit" onclick="sendData('{{grupo}}')" class="btn  btn-primary" style="display: none; margin: 1em 1em 1em 1em;"> Realizar Cambios </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for i in data %} 
                                        <div class="col-12 col-sm-3">
                                            <div id="{{i.cliente_id}}"  class="card">
                                                <div style="text-align: center;">
                                                    <img style="width: 10em;" class="img-responsive center-block rounded-circle" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                                                    data-holder-rendered="true">
                                                </div>
                                                <div class="card-body">
                                                    <h5> {{ i.nombre }} </h5>
                                                    <p>El identificador del grupo es: {{ i.cliente_id }}</p>
                                                </div>
                                                <div style="text-align: center;margin: 0em 1em 1em 1em;">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <button type="submit" onclick="selectedItem('{{i.cliente_id}}')" class="btn  btn-primary">Asignar Usuarios</button>
                                                        </div>
                                                        <div class="col-6">
                                                            <button type="submit" onclick="deletedItem('{{i.cliente_id}}')" class="btn  btn-primary">Eliminar Usuarios</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else  %} 
                    <h1> No hay aun clientes registrados</h1>
                {% endif %} 
            </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    let array = []
    window.onload = function() {
        const arreglo = '{{datagroup}}'
        const res = arreglo.split(", ");
        for(var i = 0; res.length>i; i++){
            const ret = res[i].replace('&#39;','').replace('&#39;', '').replace('[', '').replace(']', '');
            array.push(ret)
            document.getElementById(ret).style.backgroundColor = '#B3E0FF';
        }
    };
    function selectedItem(identeficador) {
        for(var i =0; array.length>i; i++){
            if(!array.includes( identeficador )){
                array.push(identeficador)
            }
        }
        if (array.length > 0){
            document.getElementById('registro').style.display = 'inline';
        }
        document.getElementById(identeficador).style.backgroundColor = '#B3E0FF';
    }
    function deletedItem(identeficador) {
        for( var i = 0; i < array.length; i++){ 
            if ( array[i] === identeficador) {
                array.splice(i, 1); 
            }
        }
        document.getElementById('registro').style.display = 'inline';
        document.getElementById(identeficador).style.backgroundColor = '';
    }
    function sendData(groupID){
        $.ajax({
            type: "POST",
            url: "/dashboard/grupos/",
            data: {'grupo':groupID, 'users': array, 'csrfmiddlewaretoken': '{{ csrf_token }}',},  // <== change is here
            success: function(response){
                console.log(response);
                if(response === 'OK'){
                    document.getElementById("notificacion").style.display = "block";
                    window.setTimeout(function () {
                        window.location.href = '/dashboard/grupos/'; 
                    }, 1500);
                }
            }
        });
    }
</script>

{% endblock javascripts %}
