{% extends "layouts/base.html" %}

{% block title %} Dashboard - Clientes {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}	
    <section class="pcoded-main-container">
        <div class="pcoded-content">
        <div class="containter">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form  role="form" method="post" action="">
                                {% csrf_token %} 
                                <h5>
                                    ¡Selecciona el grupo del cual quieres ver el calendario!
                                </h5>
                                <div class="form-group">
                                    {{ form.cuenta }}
                                </div>
                                <button type="submit" class="btn  btn-primary">Ver calendario</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
