{% extends "layouts/base.html" %}

{% block title %} Dashboard - Clientes {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}	
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="alert alert-success" style="display: none;"  id="notificacion" role="alert">
                ¡Se realizo correctamente la accion!
              </div>
            <div class="row" style="height: 50%;">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form  role="form" method="post" action="">
                                {% csrf_token %} 
                                <h5>
                                    ¡Crea un nuevo usuario!
                                </h5>
                                <div class="form-group">
                                    {{ form.nombre }}
                                </div>
                                <button type="submit" class="btn  btn-primary">Crear Usuario</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% if data %}
            <div class="row" style="height: 50%;">
                <div class="col-12">
                    <div class="card">
                        <h1 style="padding: 1em 1em 1em 1em;"> Clientes </h1>
                        <div class="card-body">
                            <div class="row">
                                {% for i in data %} 
                                    <div class="col-12 col-sm-3">
                                        <div class="card">
                                            <div style="text-align: center;">
                                                <img style="width: 10em;" class="img-responsive center-block rounded-circle" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                                                data-holder-rendered="true">
                                            </div>
                                            <div class="card-body">
                                                <h5> {{ i.nombre }} </h5>
                                                <p>El identificador del usuario es: {{ i.cliente_id}}</p>
                                                <div style="text-align: center;">
                                                    <a onclick="deleteUser('{{i.cliente_id}}')" class="btn btn-danger"> Eliminar Usuario </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else  %} 
                <h1> No hay aun clientes registrados</h1>
	        {% endif %} 
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function deleteUser(identificador){
        $.ajax({
            type: "GET",
            url: "/dashboard/deleteUser/"+identificador,
            data: '',  // <== change is here
            success: function(response){
                if(response === 'OK'){
                    document.getElementById("notificacion").style.display = "block";
                    window.setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                }
            }
        });
    }
</script>

{% endblock javascripts %}
