{% extends "layouts/base.html" %}

{% block title %} Dashboard - Clientes {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}	
    <section class="pcoded-main-container">
        <div class="pcoded-content">
        <div class="containter">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form  role="form" method="post" action="">
                                {% csrf_token %} 
                                <h5>
                                    ¡Crea un nuevo grupo!
                                </h5>
                                <div class="form-group">
                                    {{ form.nombre }}
                                </div>
                                <button type="submit" class="btn  btn-primary">Crear Grupo</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% if data %}
            <div class="row" style="height: 50%;">
                <div class="col-12">
                    <div class="card">
                        <h1 style="padding: 1em 1em 1em 1em;"> Grupos </h1>
                        <div class="card-body">
                            <div class="row">
                                {% for i in data %} 
                                    <div class="col-12 col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5> {{ i.nombre }} </h5>
                                                <p>El identificador del grupo es: {{ i.grupos_id }}</p>
                                            </div>
                                            <div style="text-align: center;margin: 0em 0em 1em 0em;">
                                                <a href="/dashboard/grupos/{{ i.grupos_id }}" class="btn  btn-primary">Asignar Usuarios</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else  %} 
                <h1> No hay aun grupos registrados</h1>
	        {% endif %} 
        </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
