{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
{% if admin %}
<!-- [ navigation menu administrador ] inicio -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Numero de clientes actuales</h6>
                            <h2 class="text-right text-white"><i class="feather icon-shopping-cart float-left"></i><span>{{clientes}}</span></h2>
                            <p class="m-b-0">Estadistica de clientes</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">Numero de grupos actuales</h6>
                            <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i><span>{{grupos}}</span></h2>
                            <p class="m-b-0">Estadistica de grupos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">Numero de cuentas actuales</h6>
                            <h2 class="text-right text-white"><i class="feather icon-repeat float-left"></i><span>{{cuentas}}</span></h2>
                            <p class="m-b-0">Estadistica de cuentas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-red order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total de inversión</h6>
                            <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span>{{saldo}}</span></h2>
                            <p class="m-b-0">Cantidad prestada</p>
                        </div>
                    </div>
                </div>
                <!-- order-card end -->
                <!-- users visite start -->
                <div class="col-md-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Unique Visitor</h5>
                        </div>
                        <div class="card-body pl-0 pb-0">
                            <div id="unique-visitor-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Customer overview end -->
            </div>
        </div>
    </div>
<!-- [ navigation menu administrador ] fin -->
{% else  %} 
<!-- [ navigation menu users ] inicio -->
    <div  class="pcoded-main-container">  
        <div class="pcoded-content">
            <h1 class="center">{{ request.user.id }} </h1> 
        </div>
    </div>
<!-- [ navigation menu users ] fin -->
{% endif %} 

{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/dashboard-main.js"></script>
{% endblock javascripts %}
