{% extends "layouts/base.html" %}

{% block title %} Dashboard - Clientes {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}	
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="alert alert-success" style="display: none;"  id="notificacion" role="alert">
                ¡Se realizo correctamente la accion!
              </div>
            {% if data %}
            <div class="row" style="height: 50%;">
                <div class="col-12">
                    <div class="card">
                        <h5 style="padding: 1em 1em 1em 1em;"> Pagos Pendientes </h5>
                        <div class="card-body">
                            <div class="row">
                                {% for i in data %} 
                                    <div class="col-12 col-sm-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5>Fecha del pago :</h5><p>{{ i.data }}</p>
                                                <h5>Estatus del pago :</h5> <p>{{ i.estatus }}</p>
                                                <div style="text-align: center;">
                                                    <a onclick="pagar({{i}})" class="btn btn-success"> Realizar Pago </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else  %} 
                <h1> No hay pagos pendientes</h1>
	        {% endif %} 
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function pagar(item){
        console.log(item);
        $.ajax({
            type: "POST",
            url: "/dashboard/transaccion/",
            data: {'data': item.data, 'identificador': item.id, 'csrfmiddlewaretoken': '{{ csrf_token }}',},
            success: function(response){
                if(response === 'OK'){
                    document.getElementById("notificacion").style.display = "block";
                    window.setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                }
            }
        });
    }
</script>

{% endblock javascripts %}
