{% extends "layouts/base.html" %}

{% block title %} Dashboard - Clientes {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}	
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <form  role="form" method="post" action="">
            {% csrf_token %} 
                <div class="row" style="height: 50%;">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                                {% csrf_token %} 
                                <h5>
                                    ¡Selecciona el grupo al que gustes otorgar un credito!
                                </h5>
                                {% if msg %}
                                    <p> {{msg}} </p>
                                {% endif %}
                                <p> Debes seleccionar un grupo </p> 
                                <div class="form-group">
                                    {{ form.grupo }}
                                </div>
                                <a style="color: white;" onclick="showPrestamo()" class="btn  btn-primary">Seleccionar grupo</a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row" id="selected" style="height: 50%; display:{{display}};">
                <div class="col-12">
                    <div class="card">
                        <h1 style="padding: 1em 0em 0em 1em;"> Prestamos </h1>
                        <div class="card-body">
                            <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div>
                                                    <h5> Ingresa el prestamo</h5>
                                                    <div style="padding: 1em 0 0 0;">
                                                        {{ form.cantidad }} 
                                                    </div>
                                                </div>
                                                <div style="padding: 1em 0 0 0;">
                                                    <h5> Crea una cuenta para los usuarios </h5>
                                                    <div style="padding: 1em 0 0 0;">
                                                        <div>
                                                            {{ form.usuario}}
                                                        </div>
                                                        <div>
                                                            {{ form.password}}
                                                        </div>
                                                        <div>
                                                            {{ form.email }}
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div style="padding: 1em 0 0;">
                                                        <button type="submit" class="btn btn-primary">Otorgar credito</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5> Información del grupo </h5>
                                                <p>Integrantes : </p>
                                                <div id="users" style="line-height: 5px;">
                                                    <p> selecciona el grupo </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
    
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function showPrestamo() {
        const p_list = document.getElementsByTagName("p");
        for(var i=p_list.length-1; i>=0; i--){
            let item = p_list[i];
            item.parentNode.removeChild(item);
        }
        const getSelected = document.getElementById("select").value;
        document.getElementById('selected').style.display = 'block';
        $.ajax({
            type: "GET",
            url: "/dashboard/clientesgrupos/"+getSelected,
            data: "",
            success: function(response){
                if(response.respose !== false){
                    for (var i=0; response.respose.length>i; i++){
                        let type = document.createElement("p");
                        let text = document.createTextNode(response.respose[i].value);
                        type.appendChild(text);
                        document.getElementById("users").appendChild(type);
                    }
                }else{
                    let type = document.createElement("p");
                    let text = document.createTextNode("Este grupo no tiene clientes asignados");
                    type.appendChild(text);
                    document.getElementById("users").appendChild(type);
                }
            }
        });
    }
</script>
{% endblock javascripts %}
